ONECLAW_API_KEY=1ck_your_api_key_here
ONECLAW_BASE_URL=https://api.1claw.co

# For send script
SEND_TO=0x000000000000000000000000000000000000dEaD
SEND_AMOUNT=0.001
SEND_PASSWORD=your_account_password
